.servicies{
    display: flex;
    &__picblock{
        grid-column-start: 1;
        grid-column-end: 7;
        max-width: 540px;
    }
    &__pic{
        width: 100%;
        box-shadow: 0px 4px 60px rgba(118, 157, 202, 0.15);
        border-radius: 10px;
    }
    &__content{
        grid-column-start: 7;
        grid-column-end: -1;
    }
    &__title{
        padding-top: 100px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 38px;
        line-height: 44px;
        letter-spacing: 1px;

        color: #3A4959;
        padding-bottom: 20px;
        &::before{
            content:"";
            display: block;
            width:110px;
            height: 5px;
            background-color:  #056CDE;
            border-radius: 10px;
            margin-bottom: 30px;
        }
    }
    &__text{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 29px;

        color: #3A4959;
        padding-bottom: 30px;
    }
    &__title2{
        grid-column-start: 2;
        grid-column-end: 7;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 38px;
        line-height: 44px;
        letter-spacing: 1px; 
        padding-bottom: 40px;;
        &::before{
            content:"";
            display: block;
            width:110px;
            height: 5px;
            background-color:  #056CDE;
            border-radius: 10px;
            margin-bottom: 30px;
        }
    }
    &__row1{
        grid-column-start: 2;
        grid-column-end: 7;
    }
    &__row2{
        grid-column-start: 7;
        grid-column-end: 12;
    }
}