.service-card{
 max-width: 450px;
 height: 470px;
 background: #FFFFFF;
box-shadow: 0px 0px 40px rgba(118, 157, 202, 0.15);
border-radius: 10px;
&__content{
    width: 340px;
    margin-left: 40px;
}
&__title{
    padding-top: 30px;;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */

    letter-spacing: 1px;

    color: #3A4959;
    }
    &__text{
        padding-top: 20px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;

        color: #3A4959;
    }
    &__links{
        padding-top: 20px;;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 28px;
        /* identical to box height */

        text-transform: uppercase;

        color: #056CDE;

    }
}