<div class="servicies">
    <div class="container">
        <div class="servicies__picblock">
            <img class="servicies__pic" src="./img/pain.png">
        </div>

        <div class="servicies__content">
            <div class="servicies__title">
                    Comprehensive Pain Treatment
            </div>
            <div class="servicies__text">
                    Healthy Spine Family Chiropractic was 
                    created for the necessity of custom made 
                    chiropractic treatment for all ages. We 
                    understand that not all bodies are the 
                    same and so your chiropractic treatment 
                    will be tailored to you. Healthy Spine 
                    Family Chiropractic was created for the 
                    necessity of custom made chiropractic 
                    treatment for all ages. We understand 
                    that not all bodies are the same and so 
                    your chiropractic treatment will be 
                    tailored to you. Healthy Spine Family 
                    Chiropractic was created for the necessity 
                    of custom made chiropractic treatment for 
                    all ages. We understand that not all bodies 
                    are the same and so your chiropractic treatment 
                    will be tailored to you.
            </div>
            <div class="servicies__button">
                    @@include('./../components/button.html', {
                        "button-text":"LEARN MORE",
                        "button-link":"",
                        "button-class":"yellow-button"
                        
                    })
            </div>
        </div>
        <div class="servicies__title2">
                Services
        </div>
        <div class="servicies__row1">
            <div class="servicies__med-card1">
                    @@include('./../components/service-card.html', {
                        "service-card-pic":"./img/serv-card1.png",
                        "service-card-title":"Chiropractic",
                        "service-card-text":"Chiropractic care is a unique science that focuses on restoring and maintaining health, while most other healing arts are designed to treat disease.",
                        "service-card-links":"Chiropractic Adjustment Flexion-distraction Thompson View All Services"
                    })
            </div>
            <div class="servicies__med-card3">
                @@include('./../components/service-card.html', {
                    "service-card-pic":"./img/serv-card3.png",
                    "service-card-title":"Massage",
                    "service-card-text":"Healthy Spine Family Chiropractic, serves the Thornton and surrounding communities and it provides a natural, conservative approach to your health care.",
                    "service-card-links":"Deep Tissue Trigger Point Sport Massage Myofascial Release"
                })
            </div>
        </div>
        <div class="servicies__row2">    
            <div class="servicies__med-card2">
                @@include('./../components/service-card.html', {
                    "service-card-pic":"./img/serv-card2.png",
                    "service-card-title":"Acupuncture",
                    "service-card-text":"Healthy Spine Family Chiropractic, serves the Thornton and surrounding communities and it provides a natural, conservative approach to your health care.",
                    "service-card-links":"Cupping Chinese Herbs"
                })
            </div>
         </div>  
        
    </div>
</div>